* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #070000;
  color: #797878;
}

.navbar {
  background: #081829;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar .logo {
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navbar ul li a:hover {
  color: #ffcc00;
}

.section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.section h2 {
  margin-bottom: 15px;
  color: #004080;
}

.tools-list {
  list-style: disc;
  padding-left: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form label {
  font-weight: bold;
}

form input, form select, form textarea, form button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

form button {
  background: #004080;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background: #003060;
}

#resultado, #form-msg {
  margin-top: 15px;
  padding: 10px;
  background: #e9f5e9;
  border: 1px solid #b5d6b5;
  border-radius: 6px;
}


footer {
  text-align: center;
  padding: 15px;
  background: #004080;
  color: white;
  margin-top: 20px;
}
.chart-container {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
